.box {
  color: white;
  font-weight: 600;
  font-size: 18px;
  min-width: 370px;
  min-height: 40px;
  border-radius: 25px;
  margin: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-row {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
