body {
  display: flex;
  justify-content: center;
}

.svg {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.svg-div {
  display: flex;
  justify-content: center;
}

.row-apply {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
}

.rounded-btn {
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
